<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Board</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Окно входа -->
    <!-- <div id="login-modal" class="modal">
        <div class="modal-content">
            <h2>Вход</h2>
            <form id="login-form" method="POST" action="{{ url_for('login') }}">
                <label for="username">Логин: (восемь цифр)</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" class="submit-btn">Войти</button>
            </form>
        </div>
    </div> -->

    <!-- Header -->
    <header class="header">
        <h2>Kanban</h2>
        <div class="header-content">
            <button id="add-task-btn" class="add-task-btn">Добавить задачу</button>
            <div class="user-info">
                <span id="username-display" class="username"></span>
                <img src="../static/account-icon.png" alt="" class="account-icon">
            </div>
        </div>
    </header>

    <!-- Боковая панель -->
    <div class="sidebar">
        <div class="sidebar-header">
            <h3>Проекты</h3>
            <button id="add-board-btn" class="add-project-btn">+</button>
        </div>
        <ul id="project-list" class="project-list">
            <!-- Проекты будут добавляться сюда -->
        </ul>
    </div>

    <!-- Канбан-доска -->
    <div class="kanban-board">
        <ul id="column-list" class="column-list"></ul>
    </div>

    <!-- Модальное окно добавить доску -->
    <div id="modal-new-board" class="modal">
        <div class="modal-content">
            <span id="close-board-modal" class="close">&times;</span>
            <h2>Создать доску</h2>
            <form id="board-form">
                <label for="title-board">Название:</label>
                <input type="text" id="title-board" name="title" required>
                <button type="submit" class="submit-btn">Создать</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно добавить карточку-->
    <div id="modal-new-task" class="modal">
        <div class="modal-content">
            <span id="close-task-modal" class="close">&times;</span>
            <h2>Создать задачу</h2>
            <form id="task-form">
                <label for="title-task">Название:</label>
                <input type="text" id="title-task" name="title" required>
                <br>
                <label for="description">Описание:</label>
                <textarea id="description" name="description"></textarea>
                <br>
                <label for="due-date">Контрольный срок:</label>
                <input type="date" id="due-date" name="due-date" required>
                <br>
                <label for="assignee">Исполнитель:</label>
                <input type="text" id="assignee" name="assignee" required> <!-- добавить список имен из БД-->
                <br>
                <label>Важность:</label>
                <div class="priority-buttons">
                    <button type="button" class="priority-btn" data-priority="1" style="background-color: green;"></button>
                    <button type="button" class="priority-btn" data-priority="2" style="background-color: yellow;"></button>
                    <button type="button" class="priority-btn" data-priority="3" style="background-color: red;"></button>
                </div>
                <input type="hidden" id="priority" name="priority">

                <button type="submit" class="submit-btn">Создать</button>
            </form>
        </div>
    </div>

    <script src="static/script.js"></script>
</body>
</html>