<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Board</title>
    <link rel="preload" as="image" href="/static/wallpapers/felix-mittermeier-WLGHjbC0Cq4-unsplash.jpg">
    <link rel="preload" as="image" href="/static/wallpapers/laura-adai-BB0eIqCHibk-unsplash.jpg">
    <link rel="icon" href="../static/icons/board.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/dark-theme.css" id="dark-theme-link" disabled>
</head>
<body>
    <!-- Окно входа -->
    <!-- <div id="login-modal" class="modal">
        <div class="modal-content">
            <h2>Вход</h2>
            <form id="login-form" method="POST" action="{{ url_for('login') }}">
                <label for="username">Логин: (восемь цифр)</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" class="submit-btn">Войти</button>
            </form>
        </div>
    </div> -->

    <!-- Header -->
    <header class="header">
        <h2>Kanban</h2>
        <div class="header-content">
            <!-- <button id="add-task-btn" class="add-task-btn">+ Создать</button> -->

            <div class="custom-select">
                <button type="button" class="select-button" id="select-create">+ Создать</button>
                <div class="select-options">
                    <div class="option">Задачу</div>
                    <div class="option">Колонку</div>
                    <div class="option">Доску</div>
                </div>
            </div>

            <!-- <div class="user-info">
                <span id="username-display" class="username"></span>
                <img src="../static/account-icon.png" alt="" class="account-icon">
            </div> -->
        </div>
    </header>

    <!-- Боковая панель -->
    <div class="sidebar-short">
        <div class="sidebar-upper">
            <div class="icon" id="expand-collapse" class="collapsed" title="Развернуть">
                <img src="../static/icons/sidebar.png" alt="">
            </div>
            <div class="icon activatable active" id="project-btn" title="Доски">
                <img src="../static/icons/board.png" alt="">
            </div>
            <div class="icon activatable" id="notifications-btn" title="Уведомления">
                <img src="../static/icons/bell.png" alt="">
            </div>
        </div>
        <div class="sidebar-lower">
            <div class="icon activatable settings" id="settings-btn" title="Настройки">
                <img src="../static/icons/settings.png" alt="">
            </div>
            <div class="icon account" title="Аккаунт">
                <img src="../static/icons/user.png" alt="" class="account-icon">
            </div>
        </div>
    </div>

    <div class="sidebar collapsed" id="sidebar">
        <div class="sidebar-header">
            <h3>Проекты</h3>
            <button id="add-board-btn" class="add-project-btn">+</button>
        </div>
        <ul id="project-list" class="project-list">
            <!-- Проекты будут добавляться сюда -->
        </ul>
    </div>

    <!-- Канбан-доска -->
    <div class="kanban-board expand" id="board">
        <ul id="column-list" class="column-list">
            <!-- Колонки будут добавляться сюда -->
        </ul>
    </div>

    <!-- Модальное окно добавить доску -->
    <div id="modal-new-board" class="modal">
        <div class="modal-content">
            <h2>Создать доску</h2>
            <form id="board-form">
                <label for="title-board">Название:</label>
                <input type="text" id="title-board" name="title" required>
                <button type="submit" class="submit-btn">Создать</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно добавить карточку-->
    <div id="modal-new-task" class="modal">
        <div class="modal-content">
            <h2>Создать задачу</h2>
            <form id="task-form">
                <label for="title-task">Название:</label>
                <input type="text" id="title-task" name="title" required>
                <br>
                <label for="description">Описание:</label>
                <textarea id="description" name="description"></textarea>
                <br>
                <label for="due-date">Контрольный срок:</label>
                <input type="date" id="due-date" name="due-date" min="1900-01-01" max="2100-12-31" required>
                <br>
                <div class="custom-select">
                    <button type="button" class="select-button" id="select-assignee">Исполнитель</button>
                    <div class="select-options">
                        <!-- Список исполнителей будет добавляться сюда -->
                    </div>
                </div>
                <br>
                <label>Важность:</label>
                <div class="priority-buttons">
                    <button type="button" class="priority-btn" data-priority="1" style="background-color: green;"></button>
                    <button type="button" class="priority-btn" data-priority="2" style="background-color: yellow;"></button>
                    <button type="button" class="priority-btn" data-priority="3" style="background-color: red;"></button>
                </div>
                <input type="hidden" id="priority" name="priority">
                <button type="submit" class="submit-btn">Создать</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно редактировать карточку -->
    <div id="modal-edit-task" class="modal">
        <div class="modal-content" style="width: 65%; height: 70%; position: relative;">            
            <div class="card-header">
                <div class="priority-indicator" style="background-color: rgb(255, 247, 0); padding: 5px;"></div>
                <!-- Редактируемый заголовок -->
                <h3 class="card-title" contenteditable="true" style="padding: 5px;">Test title</h3>    
            </div>

            <!-- Редактируемое описание -->
            <div class="card-description" contenteditable="true" style="padding: 5px;"  >Test desc</div>
            
            <!-- Выбор исполнителя -->
            Исполнитель: 
            <div class="custom-select">
                <button type="button" class="select-button" id="selected-assignee" style="margin: 15px;">Исполнитель</button>
                <div class="select-options">
                    <!-- Список исполнителей будет добавляться сюда -->
                </div>
            </div>

            <!-- Дата -->
            <div class="card-due-date" style="position: absolute; bottom: 20px; right: 20px; font-size: 15px;">До: 2025-07-12</div>
        </div>
    </div>

    <script type="module" src="static/js/main.js"></script>
</body>
</html>