<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Настройки — Kanban</title>
    <link rel="preload" as="image" href="/static/wallpapers/felix-mittermeier-WLGHjbC0Cq4-unsplash.jpg">
    <link rel="preload" as="image" href="/static/wallpapers/laura-adai-BB0eIqCHibk-unsplash.jpg">
    <link rel="icon" href="../static/icons/board.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/settings.css">
    <link rel="stylesheet" href="/static/css/dark-theme.css" id="dark-theme-link">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <h2>Kanban</h2>
        <div class="header-content">
            <!-- <button id="add-task-btn" class="add-task-btn">+ Создать</button> -->

            <div class="custom-select">
                <button type="button" class="select-button" id="select-create">+ Создать</button>
                <div class="select-options">
                    <div class="option">Задачу</div>
                    <div class="option">Колонку</div>
                    <div class="option">Доску</div>
                </div>
            </div>
        </div>
    </header>

    <!-- Боковая панель -->
    <div class="sidebar-short">
        <div class="sidebar-upper">
            <div class="icon" id="expand-collapse" class="collapsed" title="Развернуть">
                <img src="../static/icons/sidebar.png" alt="">
            </div>
            <div class="icon activatable active" id="project-btn" title="Доски">
                <img src="../static/icons/board.png" alt="">
            </div>
            <div class="icon activatable" id="notifications-btn" title="Уведомления">
                <img src="../static/icons/bell.png" alt="">
            </div>
        </div>
        <div class="sidebar-lower">
            <div class="icon activatable settings" id="settings-btn" title="Настройки">
                <img src="../static/icons/settings.png" alt="">
            </div>
            <div class="icon account" title="Аккаунт">
                <img src="../static/icons/user.png" alt="" class="account-icon">
            </div>
        </div>
    </div>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <h3>Проекты</h3>
            <button id="add-board-btn" class="add-project-btn">+</button>
        </div>
        <ul id="project-list" class="project-list">
            <!-- Проекты будут добавляться сюда -->
        </ul>
    </div>

    <div class="kanban-board">
        <div class="settings-container">
            <h1>Настройки приложения</h1>

            <section>
                <h2>Тема</h2>
                <div id="theme-toggle-container">
                    <!-- <label class="theme-toggle">
                        <input type="checkbox" id="theme-toggle" checked>
                        <span class="checkbox-ios-switch"></span>
                    </label> -->
                </div>
            </section>
        </div>
    </div>

    <script type="module" src="static/js/pages/settings.js"></script>
</body>
</html>